.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 16px;
  bottom: 0px;
  z-index: 2;
  background: #1e1e1e;
  width: calc(50vw - 16px);
}

.progress {
  margin-right: 32px;
  font-size: 18px;
}

.iconWrapper {
  font-size: 32px;
}

.iconWrapper:hover {
  color: var(--hover-color);
}

.arrows {
  display: flex;
  align-items: center;
}

.left {
  transform: rotate(270deg);
  margin-right: 24px;
}

.right {
  transform: rotate(90deg);
  margin-right: 32px;
}

@media only screen and (max-width: 993px) {
  .container {
    justify-content: flex-start;
    position: static;
    margin: 0 48px 32px 16px;
    width: auto;
    background: transparent;
  }

  .right {
    margin-right: 0;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .arrows {
    margin-top: 8px;
  }
}
