.container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 48px;
  bottom: 16px;
  z-index: 2;
}

.progress {
  margin-right: 32px;
}

.iconWrapper {
  font-size: 32px;
}

.iconWrapper:hover {
  color: gray;
}

.left {
  transform: rotate(270deg);
  margin-right: 24px;
}

.right {
  transform: rotate(90deg);
}
