.container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 48px;
  bottom: 16px;
  z-index: 2;
}

.progress {
  margin-right: 32px;
  font-size: 18px;
}

.iconWrapper {
  font-size: 32px;
}

.iconWrapper:hover {
  color: gray;
}

.arrows {
  display: flex;
  align-items: center;
}

.left {
  transform: rotate(270deg);
  margin-right: 24px;
}

.right {
  transform: rotate(90deg);
}

@media only screen and (max-width: 993px) {
  .container {
    margin: 0 48px 32px 16px;
    position: static;
  }
}

@media only screen and (max-width: 360px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .arrows {
    margin-top: 8px;
  }
}
