.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 250px;
  border: 1px solid blue;
}

.info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
}

.id {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 16px;
  margin-right: 16px;
  box-shadow: grey 0px 0px 5px 1px;
  border-radius: 50%;
}

.experience {
  margin-right: 16px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.status {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.estimation {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.start {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
}
