.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 250px;
  background: #2a2a2a;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  will-change: border-color;
  transition: border-color 250ms;
  box-shadow: grey 0px 0px 3px 1px;
  --spacing: 8px;
}

.item:hover {
  border-color: #c0c0c0;
}

.info {
  display: flex;
  position: absolute;
  left: 16px;
  top: 16px;
  color: #c7c7c7;
}

.id {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 16px;
  margin-right: 16px;
  box-shadow: grey 0px 0px 5px 1px;
  border-radius: 50%;
}

.experience {
  margin-right: 16px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.status {
  position: absolute;
  left: var(--spacing);
  bottom: var(--spacing);
}

.estimation {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #c7c7c7;
}

.start {
  position: absolute;
  bottom: var(--spacing);
  left: 50%;
  padding: 5px 15px;
  transform: translateX(-50%);
  font-size: 14px;
  box-shadow: gray 0px 0px 2px 1px;
  color: #dddddd;
}

@media only screen and (max-width: 330px) {
  .estimation {
    display: none;
  }
}
