.wrapper {
  display: flex;
  justify-content: center;
  --margin: 32px;
}

.container {
  padding-top: calc(var(--topbar-height) + 64px);
  display: flex;
  align-items: center;
}

.name {
  flex: 0 0 auto;
  margin: 0 32px;
  width: 400px;
  height: 100px;
  font-size: 2.5rem;
}

.msg {
  flex: 1 1 auto;
  font-size: 2.5rem;
  margin-right: 32px;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .name {
    width: auto;
    margin-bottom: 32px;
  }

  .msg {
    margin: 0 32px;
    font-size: 2rem;
  }
}
