.list {
  display: grid;
  padding: 48px 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px;
}

@media only screen and (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
  }
}
