.nav {
  position: fixed;
  z-index: 1;
  height: var(--topbar-height);
  width: 100vw;
  background-color: #242526;
}

.list {
  display: flex;
}

.list > li {
  border: 1px solid red;
}

.list > li > svg {
  width: 40px;
  height: 40px;
}
