.nav {
  position: fixed;
  z-index: 3;
  height: var(--topbar-height);
  width: 100vw;
  background-color: #242526;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item > svg {
  width: 30px;
  height: 30px;
}

.path > svg {
  width: 30px;
  height: 28px;
}

.text {
  font-size: 0.875rem;
}

.item:hover > .text,
.item:hover > svg {
  color: #808080;
}
