.warn {
  font-size: 1.5rem;
}

.flex {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.stuck {
  font-size: 1.1rem;
  margin-right: 16px;
}

@media only screen and (max-width: 993px) {
  .stuck {
    margin-bottom: 16px;
  }

  .flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
