.wrapper {
  padding-top: var(--topbar-height);
  background-color: #1e1e1e;
}

.monaco {
  padding-top: 16px;
}

@media only screen and (max-width: 993px) {
  .wrapper {
    padding-top: 0;
    margin-right: 32px;
  }
}
